{
  "singleQuote": true,
  "arrowParens": "avoid",
  "endOfLine": "lf",
  "bracketSameLine": true,
  "bracketSpacing": false,
  "quoteProps": "as-needed",
  "semi": false,
  "tabWidth": 2,
  "trailingComma": "none",
  "useTabs": false
}
