<angular-marvel-skill name="durability" [value]="skill.durability"></angular-marvel-skill>
<angular-marvel-skill name="energy" [value]="skill.energy"></angular-marvel-skill>
<angular-marvel-skill name="fighting" [value]="skill.fighting"></angular-marvel-skill>
<angular-marvel-skill name="intelligence" [value]="skill.intelligence"></angular-marvel-skill>
<angular-marvel-skill name="speed" [value]="skill.speed"></angular-marvel-skill>
<angular-marvel-skill name="strength" [value]="skill.strength"></angular-marvel-skill>
