$element-border-radius: 6px
$element-y-padding: 2px
$element-x-padding: 12px
$element-padding: $element-y-padding $element-x-padding
$element-height: 50px

$button-padding: $element-y-padding calc(#{$element-x-padding} + 4px)

$blue: #0ea5e9

$red: #ef4444
$light-red: #fee2e2

$green: #22c55e

$yellow: #eab308

$primary-color: $blue

$panel-gap: 72px

$sidebar-width: 280px
$sidebar-padding: 24px

$main-padding: 24px 36px

$character-list-item-padding: 12px


$alert-radius: 12px
$alert-padding: 24px
