$element-border-radius: 6px
$element-y-padding: 2px
$element-x-padding: 12px
$element-padding: $element-y-padding $element-x-padding
$element-height: 50px

$button-padding: $element-y-padding calc(#{$element-x-padding} + 4px)

$sky-500: #0ea5e9

$primary-color: $sky-500
