<div class="flex min-h-screen">

  <aside class="w-1/2 bg-cover bg-center"
    style="background-image: url('./../../../assets/images/auth/marvel-auth-background.jpg');"></aside>

  <section class="w-1/2 p-6 box-border bg-gradient-to-r from-red-600 to-rose-700 items-center content-center flex justify-center">
    <main class="auth-card bg-slate-50 rounded-xl p-8 shadow-xl">

      <div class="flex justify-center flex-wrap">
        <img src="./../../../assets/images/marvel_logo.svg" alt="Marvel Logo" class="logo">
        <h4 class="logo-universe">universe</h4>
      </div>

      <router-outlet></router-outlet>

    </main>
  </section>

</div>
